In [1]:
#Import dependencies
import pandas as pd
import matplotlib.pyplot as plt
import json

In [2]:
# Read the csv
datos = pd.read_csv("./Resources/tmdb_5000_movies.csv")
datos.head(2)
datos_credits = pd.read_csv("./Resources/tmdb_5000_credits.csv")
datos_credits.head(2)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [3]:
# Clean the column genres
generos = []
for i in range(0,len(datos['genres'])):
    try:
        python_dict = json.loads(datos["genres"][i])
        generos.append(python_dict[0]['name'])
    except IndexError:
        generos.append(" ")

genres_df = pd.DataFrame(generos)
genres_df.head(2)

           0
0     Action
1  Adventure

In [4]:
# Clean the column production company
production_company = []
for i in range(0,len(datos['production_companies'])):
    try:
        python_dict = json.loads(datos["production_companies"][i])
        production_company.append(python_dict[0]['name'])
    except IndexError:
        production_company.append(" ")
        
production_company_df = pd.DataFrame(production_company)
production_company_df.head(2)

                         0
0  Ingenious Film Partners
1     Walt Disney Pictures

In [5]:
# Clean the column country
country =[]
for i in range(0,len(datos['production_countries'])):
    try:
        python_dict = json.loads(datos["production_countries"][i])
        country.append(python_dict[0]['name'])
    except IndexError:
        country.append(" ")
        
country_df = pd.DataFrame(country)
country_df.head(2)

                          0
0  United States of America
1  United States of America

In [6]:
# Clean the column cast
cast1 =[]
for i in range(0,len(datos_credits['cast'])):
    try:
        python_dict = json.loads(datos_credits["cast"][i])
        cast1.append(python_dict[0]['name'])
    except IndexError:
        cast1.append(" ")
        
cast1_df = pd.DataFrame(cast1)
cast1_df.head(2)

                 0
0  Sam Worthington
1      Johnny Depp

In [7]:
# Clean the column cast
cast2 =[]
for i in range(0,len(datos_credits['cast'])):
    try:
        python_dict = json.loads(datos_credits["cast"][i])
        cast2.append(python_dict[1]['name'])
    except IndexError:
        cast2.append(" ")

cast2_df = pd.DataFrame(cast2)
cast2_df.head(2)

               0
0    Zoe Saldana
1  Orlando Bloom

In [8]:
# Clean the column cast
cast3 =[]
for i in range(0,len(datos_credits['cast'])):
    try:
        python_dict = json.loads(datos_credits["cast"][i])
        cast3.append(python_dict[2]['name'])
    except IndexError:
        cast3.append(" ")
        
cast3_df = pd.DataFrame(cast3)
cast3_df.head(2)

                  0
0  Sigourney Weaver
1   Keira Knightley

In [9]:
# Clean the column crew and take the information that we need (Director)
director=[]
for j in range(0,len(datos_credits["crew"])):
    try:
        python_dict = json.loads(datos_credits["crew"][j])
        for i in python_dict:
            if i["job"]=="Director":
                director.append(i["name"])
    except IndexError:
        director.append(" ")
        
director_df = pd.DataFrame(director)
director_df.head(2)

                0
0   James Cameron
1  Gore Verbinski

In [10]:
# Clean the column crew and take the information that we need (Director of Photography)
dp=[]
for j in range(0,len(datos_credits["crew"])):
    try:
        python_dict = json.loads(datos_credits["crew"][j])
        for i in python_dict:
            if i["job"]=="Director of Photography":
                dp.append(i["name"])
    except IndexError:
        dp.append(" ")

dp_df = pd.DataFrame(dp)
dp_df.head(2)

             0
0  Mauro Fiore
1  Chiling Lin

In [11]:
# Clean the column crew and take the information that we need (Writer)
writer=[]
for j in range(0,len(datos_credits["crew"])):
    try:
        python_dict = json.loads(datos_credits["crew"][j])
        for i in python_dict:
            if i["job"]=="Writer":
                writer.append(i["name"])
    except IndexError:
        writer.append(" ")

writer_df = pd.DataFrame(writer)
writer_df.head(2)

               0
0  James Cameron
1    Joss Whedon

In [12]:
# Clean the column crew and take the information that we need (Producer)
producer=[]
for j in range(0,len(datos_credits["crew"])):
    try:
        python_dict = json.loads(datos_credits["crew"][j])
        for i in python_dict:
            if i["job"]=="Producer":
                producer.append(i["name"])
    except IndexError:
        producer.append(" ")

producer_df = pd.DataFrame(producer)
producer_df.head(2)

               0
0  James Cameron
1     Jon Landau

In [13]:
# Clean the column crew and take the information that we need (Music Composer)
music_composer=[]
for j in range(0,len(datos_credits["crew"])):
    try:
        python_dict = json.loads(datos_credits["crew"][j])
        for i in python_dict:
            if i["job"]=="Original Music Composer":
                music_composer.append(i["name"])
    except IndexError:
        music_composer.append(" ")
        
music_composer_df = pd.DataFrame(music_composer)
music_composer_df.head(2)

              0
0  James Horner
1   Hans Zimmer

In [14]:
# Convert both csv to DataFrames
datos_df = pd.DataFrame(datos)
datos_credits_df = pd.DataFrame(datos_credits)

In [15]:
main_df = pd.merge(left=datos_df, right=datos_credits_df, how="left")
main_df.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [16]:
#check if all the columns have the same length
main_df.count()

budget                  4809
genres                  4809
homepage                1713
id                      4809
keywords                4809
original_language       4809
original_title          4809
overview                4806
popularity              4809
production_companies    4809
production_countries    4809
release_date            4808
revenue                 4809
runtime                 4807
spoken_languages        4809
status                  4809
tagline                 3965
title                   4809
vote_average            4809
vote_count              4809
movie_id                4809
cast                    4809
crew                    4809
dtype: int64

In [17]:
# fill rows that don't have information with "NaN"
Movies_df = main_df.fillna(value="NaN")
Movies_df.count()

budget                  4809
genres                  4809
homepage                4809
id                      4809
keywords                4809
original_language       4809
original_title          4809
overview                4809
popularity              4809
production_companies    4809
production_countries    4809
release_date            4809
revenue                 4809
runtime                 4809
spoken_languages        4809
status                  4809
tagline                 4809
title                   4809
vote_average            4809
vote_count              4809
movie_id                4809
cast                    4809
crew                    4809
dtype: int64

In [18]:
# Add the columns that we need for the analisis
Movies_df["Genre"] = genres_df
Movies_df["Production Company"] = production_company_df
Movies_df["Country"] = country_df
Movies_df["Leading Role"] = cast1_df
Movies_df["Supporting Role"] = cast2_df
Movies_df["Supporting Role 2"] = cast3_df
Movies_df["Director"] = director_df
Movies_df["Producer"] = producer_df
Movies_df["DP"] = dp_df
Movies_df["Writer"] = writer_df
Movies_df["Music Composer"] = music_composer_df
Movies_df

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,Production Company,Country,Leading Role,Supporting Role,Supporting Role 2,Director,Producer,DP,Writer,Music Composer
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,Ingenious Film Partners,United States of America,Sam Worthington,Zoe Saldana,Sigourney Weaver,James Cameron,James Cameron,Mauro Fiore,James Cameron,James Horner
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,Walt Disney Pictures,United States of America,Johnny Depp,Orlando Bloom,Keira Knightley,Gore Verbinski,Jon Landau,Chiling Lin,Joss Whedon,Hans Zimmer
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,Columbia Pictures,United Kingdom,Daniel Craig,Christoph Waltz,Léa Seydoux,Sam Mendes,Jerry Bruckheimer,Dariusz Wolski,Lowell Cunningham,Thomas Newman
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,Legendary Pictures,United States of America,Christian Bale,Michael Caine,Gary Oldman,Christopher Nolan,Eric McLeod,Hoyte van Hoytema,Peter Jackson,Hans Zimmer
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,Walt Disney Pictures,United States of America,Taylor Kitsch,Lynn Collins,Samantha Morton,Andrew Stanton,Chad Oman,Wally Pfister,Fran Walsh,Christopher Young
5,258000000,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 28, ""na...",http://www.sonypictures.com/movies/spider-man3/,559,"[{""id"": 851, ""name"": ""dual identity""}, {""id"": ...",en,Spider-Man 3,The seemingly invincible Spider-Man goes up ag...,115.699814,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,Columbia Pictures,United States of America,Tobey Maguire,Kirsten Dunst,James Franco,Sam Raimi,Peter Kohn,Daniel Mindel,Philippa Boyens,Alan Menken
6,260000000,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751...",http://disney.go.com/disneypictures/tangled/,38757,"[{""id"": 1562, ""name"": ""hostage""}, {""id"": 2343,...",en,Tangled,When the kingdom's most wanted-and most charmi...,48.681969,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,Walt Disney Pictures,United States of America,Zachary Levi,Mandy Moore,Donna Murphy,Byron Howard,Pat Sandston,Bill Pope,Guillermo del Toro,Kevin Kliesch
7,280000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://marvel.com/movies/movie/193/avengers_ag...,99861,"[{""id"": 8828, ""name"": ""marvel comic""}, {""id"": ...",en,Avengers: Age of Ultron,When Tony Stark tries to jumpstart a dormant p...,134.279229,"[{""name"": ""Marvel Studios"", ""id"": 420}, {""name...",...,Marvel Studios,United States of America,Robert Downey Jr.,Chris Hemsworth,Mark Ruffalo,Nathan Greno,Barbara Broccoli,Ben Davis,John Logan,Danny Elfman
8,250000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://harrypotter.warnerbros.com/harrypottera...,767,"[{""id"": 616, ""name"": ""witch""}, {""id"": 2343, ""n...",en,Harry Potter and the Half-Blood Prince,"As Harry begins his sixth year at Hogwarts, he...",98.885637,"[{""name"": ""Warner Bros."", ""id"": 6194}, {""name""...",...,Warner Bros.,United Kingdom,Daniel Radcliffe,Rupert Grint,Emma Watson,Joss Whedon,Michael G. Wilson,Bruno Delbonnel,Robert Wade,Brian Tyler
9,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.batmanvsupermandawnofjustice.com/,209112,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 7002...",en,Batman v Superman: Dawn of Justice,Fearing the actions of a god-like Super Hero l...,155.790452,"[{""name"": ""DC Comics"", ""id"": 429}, {""name"": ""A...",...,DC Comics,United States of America,Ben Affleck,Henry Cavill,Gal Gadot,David Yates,Charles Roven,Larry Fong,Neal Purvis,Nicholas Hooper
10,270000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://www.superman.com,1452,"[{""id"": 83, ""name"": ""saving the world""}, {""id""...",en,Superman Returns,Superman returns to discover his 5-year absenc...,57.925623,"[{""name"": ""DC Comics"", ""id"": 429}, {""name"": ""L...",...,DC Comics,United States of America,Brandon Routh,Kevin Spacey,Kate Bosworth,Zack Snyder,Christopher Nolan,Newton Thomas Sigel,John D. Brancato,Hans Zimmer
11,200000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",http://www.mgm.com/view/movie/234/Quantum-of-S...,10764,"[{""id"": 627, ""name"": ""killing""}, {""id"": 1568, ...",en,Quantum of Solace,Quantum of Solace continues the adventures of ...,107.928811,"[{""name"": ""Eon Productions"", ""id"": 7576}]",...,Eon Productions,United Kingdom,Daniel Craig,Olga Kurylenko,Mathieu Amalric,Bryan Singer,Emma Thomas,Roberto Schaefer,Michael Ferris,Junkie XL
12,200000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,58,"[{""id"": 616, ""name"": ""witch""}, {""id"": 663, ""na...",en,Pirates of the Caribbean: Dead Man's Chest,Captain Jack Sparrow works his way out of a bl...,145.847379,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,Walt Disney Pictures,Jamaica,Johnny Depp,Orlando Bloom,Keira Knightley,Marc Forster,Colin Wilson,Dariusz Wolski,Chris Morgan,John Ottman
13,255000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://disney.go.com/the-lone-ranger/,57201,"[{""id"": 1556, ""name"": ""texas""}, {""id"": 2673, ""...",en,The Lone Ranger,The Texas Rangers chase down a gang of outlaws...,49.046956,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,Walt Disney Pictures,United States of America,Johnny Depp,Armie Hammer,William Fichtner,Gore Verbinski,Jim Morris,Bojan Bazelli,Harald Kloser,Hans Zimmer
14,225000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.manofsteel.com/,49521,"[{""id"": 83, ""name"": ""saving the world""}, {""id""...",en,Man of Steel,A young boy learns that he has extraordinary p...,99.398009,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,Legendary Pictures,United Kingdom,Henry Cavill,Amy Adams,Michael Shannon,Gore Verbinski,Lindsey Collins,Amir Mokri,Roland Emmerich,Hans Zimmer
15,225000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 10751...",NaN,2454,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,The Chronicles of Narnia: Prince Caspian,One year after their incredible adventures in ...,53.978602,"[{""name"": ""Walt Disney"", ""id"": 5888}, {""name"":...",...,Walt Disney,Czech Republic,Ben Barnes,William Moseley,Anna Popplewell,Zack Snyder,Laura Ziskin,Karl Walter Lindenlaub,Lilly Wachowski,Hans Zimmer
16,220000000,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",http://marvel.com/avengers_movie/,24428,"[{""id"": 242, ""name"": ""new york""}, {""id"": 5539,...",en,The Avengers,When an unexpected enemy emerges and threatens...,144.448633,"[{""name"": ""Paramount Pictures"", ""id"": 4}, {""na...",...,Paramount Pictures,United States of America,Robert Downey Jr.,Chris Evans,Mark Ruffalo,Andrew Adamson,Avi Arad,Seamus McGarvey,Lana Wachowski,Harry Gregson-Williams
17,380000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",http://disney.go.com/pirates/index-on-stranger...,1865,"[{""id"": 658, ""name"": ""sea""}, {""id"": 1316, ""nam...",en,Pirates of the Caribbean: On Stranger Tides,Captain Jack Sparrow crosses paths with a woma...,135.413856,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,Walt Disney Pictures,United States of America,Johnny Depp,Penélope Cruz,Ian McShane,Joss Whedon,Grant Curtis,Dariusz Wolski,John Collee,Alan Silvestri
18,225000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 35, ""nam...",http://www.sonypictures.com/movies/meninblack3/,41154,"[{""id"": 4379, ""name"": ""time travel""}, {""id"": 5...",en,Men in Black 3,Agents J (Will Smith) and K (Tommy Lee Jones) ...,52.035179,"[{""name"": ""Amblin Entertainment"", ""id"": 56}, {...",...,Amblin Entertainment,United States of America,Will Smith,Tommy Lee Jones,Josh Brolin,Rob Marshall,Roy Conli,Bill Pope,Bryan Singer,Hans Zimmer
19,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.thehobbit.com/,122917,"[{""id"": 417, ""name"": ""corruption""}, {""id"": 603...",en,The Hobbit: The Battle of the Five Armies,Immediately after the events of The Desolation...,120.965743,"[{""name"": ""WingNut Films"", ""id"": 11}, {""name"":...",...,WingNut Films,New Zealand,Martin Freeman,Ian McKellen,Richard Armitage,Barry Sonnenfeld,Kevin Feige,Andrew Lesnie,Simon Kinberg,Danny Elfman
20,215000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.theamazingspiderman.com,1930,"[{""id"": 1872, ""name"": ""loss of father""}, {""id""...",en,The Amazing Spider-Man,Peter Parker is an outcast high schooler aband...,89.866276,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,Columbia Pictures,United States of America,Andrew Garfield,Emma Stone,Rhys Ifans,Peter Jackson,David Heyman,John Schwartzman,Michael Dougherty,Howard Shore
21,200000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.robinhoodthemovie.com/,20662,"[{""id"": 4147, ""name"": ""robin hood""}, {""id"": 43...",en,Robin Hood,When soldier Robin happens upon the dying Robe...,37.668301,"[{""name"": ""Imagine Entertainment"", ""id"": 23}, ...",...,Imagine Entertainment,United Kingdom,Russell Crowe,Cate Blanchett,Max von Sydow,Marc Webb,David Barron,John Mathieson,Dan Harris,James Horner
22,250000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://www.thehobbit.com/,57158,"[{""id"": 603, ""name"": ""elves""}, {""id"": 604, ""na...",en,The Hobbit: The Desolation of Smaug,"The Dwarves, Bilbo and Gandalf have successful...",94.370564,"[{""name"": ""WingNut Films"", ""id"": 11}, {""name"":...",...,WingNut Films,New Zealand,Martin Freeman,Ian McKellen,Richard Armitage,Ridley Scott,Tim Lewis,Andrew Lesnie,Brian Selznick,Marc Streitenfeld
23,180000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://www.goldencompassmovie.com/index_german...,2268,"[{""id"": 392, ""name"": ""england""}, {""id"": 1461, ...",en,The Golden Compass,"After overhearing a shocking secret, precociou...",42.990906,"[{""name"": ""New Line Cinema"", ""id"": 12}, {""name...",...,New Line Cinema,United Kingdom,Dakota Blue Richards,Nicole Kidman,Daniel Craig,Peter Jackson,Charles Roven,Henry Braham,David Ayer,Howard Shore
24,207000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 18, ""...",NaN,254,"[{""id"": 774, ""name"": ""film business""}, {""id"": ...",en,King Kong,"In 1933 New York, an overly ambitious movie pr...",61.226010,"[{""name"": ""WingNut Films"", ""id"": 11}, {""name"":...",...,WingNut Films,New Zealand,Naomi Watts,Jack Black,Adrien Brody,Chris Weitz,Deborah Snyder,Andrew Lesnie,Mark Bomback,Alexandre Desplat
25,200000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...",http://www.titanicmovie.com,597,"[{""id"": 2580, ""name"": ""shipwreck""}, {""id"": 298...",en,Titanic,"84 years later, a 101-year-old woman named Ros...",100.025899,"[{""name"": ""Paramount Pictures"", ""id"": 4}, {""na...",...,Paramount Pictures,United States of America,Kate Winslet,Leonardo DiCaprio,Frances Fisher,Peter Jackson,Jon Peters,Russell Carpenter,Rick Jaffa,James Newton Howard
26,250000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",http://marvel.com/captainamericapremiere,271110,"[{""id"": 393, ""name"": ""civil war""}, {""id"": 6091...",en,Captain America: Civil War,"Following the events of Age of Ultron, the col...",198.372395,"[{""name"": ""Studio Babelsberg"", ""id"": 264}, {""n...",...,Studio Babelsberg,United States of America,Chris Evans,Robert Downey Jr.,Scarlett Johansson,James Cameron,Gilbert Adler,Trent Opaloch,Amanda Silver,David Long
27,209000000,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 28, ""n...",NaN,44833,"[{""id"": 1721, ""name"": ""fight""}, {""id"": 4410, ""...",en,Battleship,"When mankind beams a radio signal into space, ...",64.928382,"[{""name"": ""Universal Pictures"", ""id"": 33}, {""n...",...,Universal Pictures,United States of America,Taylor Kitsch,Alexander Skarsgård,Rihanna,Anthony Russo,Bryan Singer,Tobias A. Schliessler,Roland Joffé,Mel Wesson
28,150000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.jurassicworld.com/,135397,"[{""id"": 1299, ""name"": ""monster""}, {""id"": 1718,...",en,Jurassic World,Twenty-two years after the events of Jurassic ...,418.708552,"[{""name"": ""Universal Studios"", ""id"": 13}, {""na...",...,Universal Studios,United States of America,Chris Pratt,Bryce Dallas Howard,Irrfan Khan,Joe Russo,Barbara Broccoli,John Schwartzman,William Steig,James Horner
29,200000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.skyfall-movie.com,37724,"[{""id"": 470, ""name"": ""spy""}, {""id"": 4289, ""nam...",en,Skyfall,When Bond's latest assignment goes gravely wro...,93.004993,"[{""name"": ""Columbia Pictures"", ""id"": 5}]",...,Columbia Pictures,United Kingdom,Daniel Craig,Judi Dench,Javier Bardem,Peter Berg,Michael G. Wilson,Ronald Hersey,Josh Klausner,Henry Jackman
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4779,27000,"[{""id"": 35, ""name"": ""Comedy""}]",http://www.miramax.com/movie/clerks/,2292,"[{""id"": 1361, ""name"": ""salesclerk""}, {""id"": 30...",en,Clerks,Convenience and video store clerks Dante and R...,19.748658,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...",...,,United States of America,Richard Linklater,Mark James,,David Slade,John A. Davis,NaN,NaN,NaN
4780,27000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...",NaN,42497,"[{""id"": 1566, ""name"": ""dream""}, {""id"": 13059, ...",en,Pink Narcissus,An erotic poem set in the fantasies of a young...,0.027811,"[{""name"": ""Strand Releasing"", ""id"": 3923}]",...,,,R.L. Mann,Tama Filianga,Mikaal Bates,Jamie Babbit,Albie Hecht,NaN,NaN,NaN
4781,0,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 35, ""name...",NaN,33693,"[{""id"": 171993, ""name"": ""mumblecore""}]",en,Funny Ha Ha,"Unsure of what to do next, 23-year-old Marnie ...",0.362633,[],...,,United States of America,Suzi Lorraine,Jared Degado,Heather Dorff,Maryam Keshavarz,J.J. Abrams,NaN,NaN,NaN
4782,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",NaN,14585,"[{""id"": 1438, ""name"": ""office""}, {""id"": 9673, ...",en,In the Company of Men,Two business executives--one an avowed misogyn...,2.634007,"[{""name"": ""Alliance Atlantis Communications"", ...",...,,United States of America,Alex Kendrick,,,Ryan Coogler,Bryan Burk,NaN,NaN,NaN
4783,0,"[{""id"": 18, ""name"": ""Drama""}]",NaN,185465,[],en,Manito,"Fifteen years ago, their Washington Heights ne...",0.039264,[],...,GO Productions,United States of America,Stephen Lang,Kelly Blatz,Brittany Curran,Ramaa Mosley,David Baronoff,NaN,NaN,NaN
4784,0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 18, ""nam...",NaN,38780,"[{""id"": 10022, ""name"": ""rampage""}, {""id"": 1454...",en,Rampage,The boredom of small town life is eating Bill ...,7.101197,"[{""name"": ""Boll Kino Beteiligungs GmbH & Co. K...",...,,,Mark Duplass,Katie Aselton,Rhett Wilkins,David Hand,Thomas K. Gray,NaN,NaN,NaN
4785,0,"[{""id"": 35, ""name"": ""Comedy""}]",NaN,14022,"[{""id"": 305, ""name"": ""moon""}, {""id"": 490, ""nam...",en,Slacker,"Presents a day in the life in Austin, Texas am...",3.320622,[],...,,Kenya,Louis Brooke,Allan Bryan Weku,Judy Gichohi,James Algar,David Chan,NaN,NaN,NaN
4786,0,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 80, ""n...",NaN,366967,[],en,Dutch Kills,A desperate ex-con is forced to gather his old...,0.038143,[],...,,United States of America,Zoe Lister-Jones,Daryl Wein,Julie White,Samuel Armstrong,Kim Dawson,NaN,NaN,NaN
4787,22000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",https://www.facebook.com/DrySpellMovie,255266,"[{""id"": 13043, ""name"": ""dating""}, {""id"": 15160...",en,Dry Spell,Sasha tries to get her soon-to-be ex husband K...,0.048948,[],...,Grindfest,,Jason Trost,Lucas Till,James Remar,William Roberts,Art Linson,NaN,NaN,NaN
4788,0,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10751, ""n...",NaN,17345,"[{""id"": 186, ""name"": ""christianity""}, {""id"": 4...",en,Flywheel,"Jay Austin wants to sell you a used car, but w...",1.048524,[],...,Dreamland Productions,United States of America,Divine,David Lochary,Mary Vivian Pearce,Paul Satterfield,Joel Coen,NaN,NaN,NaN
4789,0,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 27, ""n...",NaN,226458,"[{""id"": 9712, ""name"": ""possession""}]",en,Backmask,"During an all-night, drug-fueled party at an a...",3.619167,"[{""name"": ""GO Productions"", ""id"": 2943}, {""nam...",...,,United Kingdom,Maggie Cheung,Nick Nolte,Béatrice Dalle,Graham Heid,Ethan Coen,NaN,NaN,NaN
4790,0,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 35, ""name...",http://www.thepuffychairmovie.com,24055,"[{""id"": 171993, ""name"": ""mumblecore""}]",en,The Puffy Chair,Josh's life is pretty much in the toilet. He's...,1.243955,[],...,Jafar Panahi Film Productions,Iran,Nargess Mamizadeh,Maryiam Palvin Almani,Mojgan Faramarzi,Norman Wright,Scott Rudin,NaN,NaN,NaN
4791,0,"[{""id"": 18, ""name"": ""Drama""}]",NaN,287625,[],en,Stories of Our Lives,Created by the members of a Nairobi-based arts...,0.327794,[],...,Park Films,Ireland,Michael Parle,Emma Eliza Regan,Patrick O'Donnell,Charles Herman-Wurmfeld,David Diliberto,NaN,NaN,NaN
4792,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,44990,"[{""id"": 10183, ""name"": ""independent film""}]",en,Breaking Upwards,"'Breaking Upwards' explores a young, real-life...",0.674570,[],...,Daiei Studios,Japan,Koji Yakusho,Masato Hagiwara,Tsuyoshi Ujiki,C. Jay Cox,Ice Cube,NaN,NaN,NaN
4793,0,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",NaN,86304,"[{""id"": 9715, ""name"": ""superhero""}]",en,All Superheroes Must Die,"Masked vigilantes Charge (Jason Trost), Cutthr...",3.545991,"[{""name"": ""Grindfest"", ""id"": 18818}]",...,Iconoclast Films,United States of America,Tony Sancho,Michael Cortez,Donato Cruz,Mariette Monpierre,Larry Brezner,NaN,NaN,NaN
4794,12000,"[{""id"": 27, ""name"": ""Horror""}, {""id"": 35, ""nam...",NaN,692,"[{""id"": 237, ""name"": ""gay""}, {""id"": 900, ""name...",en,Pink Flamingos,Notorious Baltimore criminal and underground f...,4.553644,"[{""name"": ""Dreamland Productions"", ""id"": 407}]",...,Gold Lion Films,United States of America,Sasha Ramos,Erin Cline,Emily Rogers,Tommy Oliver,William Packer,NaN,NaN,NaN

In [19]:
# Delete the columns that we don't need
cut_df = Movies_df.drop(['genres', 'homepage', 'id', 'keywords', 'overview',
              'popularity', 'production_companies', 'status','tagline',
              'original_title', 'production_countries', 'spoken_languages', 'movie_id', 'cast', 'crew'], axis = 1)

In [20]:
# Rename columns
Renamed_Movies_df = cut_df.rename(columns = {'budget':'Budget',
                                            'original_language':'Language',
                                            'release_date':'Release Date',
                                            'revenue':'Revenue',
                                            'runtime':'Runtime',
                                            'title':'Title',
                                            'vote_average':'Rating',
                                            'vote_count':'# of Votes',
                                            })
Renamed_Movies_df.head(2)

,Budget,Language,Release Date,Revenue,Runtime,Title,Rating,# of Votes,Genre,Production Company,Country,Leading Role,Supporting Role,Supporting Role 2,Director,Producer,DP,Writer,Music Composer
0,237000000,en,2009-12-10,2787965087,162,Avatar,7.2,11800,Action,Ingenious Film Partners,United States of America,Sam Worthington,Zoe Saldana,Sigourney Weaver,James Cameron,James Cameron,Mauro Fiore,James Cameron,James Horner
1,300000000,en,2007-05-19,961000000,169,Pirates of the Caribbean: At World's End,6.9,4500,Adventure,Walt Disney Pictures,United States of America,Johnny Depp,Orlando Bloom,Keira Knightley,Gore Verbinski,Jon Landau,Chiling Lin,Joss Whedon,Hans Zimmer

In [21]:
# Reorganized the columns
organized_movies_df = Renamed_Movies_df[["Title","Production Company", "Genre","Country","Language","Release Date",
                             "Runtime", "Budget", "Revenue", "# of Votes", "Rating","Director","Leading Role",
                             "Supporting Role", "Supporting Role 2", "Producer", "DP", "Writer", "Music Composer"]]
organized_movies_df.head(2)

,Title,Production Company,Genre,Country,Language,Release Date,Runtime,Budget,Revenue,# of Votes,Rating,Director,Leading Role,Supporting Role,Supporting Role 2,Producer,DP,Writer,Music Composer
0,Avatar,Ingenious Film Partners,Action,United States of America,en,2009-12-10,162,237000000,2787965087,11800,7.2,James Cameron,Sam Worthington,Zoe Saldana,Sigourney Weaver,James Cameron,Mauro Fiore,James Cameron,James Horner
1,Pirates of the Caribbean: At World's End,Walt Disney Pictures,Adventure,United States of America,en,2007-05-19,169,300000000,961000000,4500,6.9,Gore Verbinski,Johnny Depp,Orlando Bloom,Keira Knightley,Jon Landau,Chiling Lin,Joss Whedon,Hans Zimmer

In [23]:
# Apply format to the columns 'Budget', 'Revenue' and '# of Votes'
organized_movies_df['Budget'] = organized_movies_df['Budget'].map('${:,.0f}'.format)
organized_movies_df['Revenue'] = organized_movies_df['Revenue'].map('${:,.0f}'.format)
organized_movies_df['# of Votes'] = organized_movies_df['# of Votes'].map('{:,.0f}'.format)
#organized_movies_df["Budget"].dtype
#organized_movies_df.head(2)

In [24]:
organized_movies_df.head()

,Title,Production Company,Genre,Country,Language,Release Date,Runtime,Budget,Revenue,# of Votes,Rating,Director,Leading Role,Supporting Role,Supporting Role 2,Producer,DP,Writer,Music Composer
0,Avatar,Ingenious Film Partners,Action,United States of America,en,2009-12-10,162,"$237,000,000","$2,787,965,087","11,800",7.2,James Cameron,Sam Worthington,Zoe Saldana,Sigourney Weaver,James Cameron,Mauro Fiore,James Cameron,James Horner
1,Pirates of the Caribbean: At World's End,Walt Disney Pictures,Adventure,United States of America,en,2007-05-19,169,"$300,000,000","$961,000,000","4,500",6.9,Gore Verbinski,Johnny Depp,Orlando Bloom,Keira Knightley,Jon Landau,Chiling Lin,Joss Whedon,Hans Zimmer
2,Spectre,Columbia Pictures,Action,United Kingdom,en,2015-10-26,148,"$245,000,000","$880,674,609","4,466",6.3,Sam Mendes,Daniel Craig,Christoph Waltz,Léa Seydoux,Jerry Bruckheimer,Dariusz Wolski,Lowell Cunningham,Thomas Newman
3,The Dark Knight Rises,Legendary Pictures,Action,United States of America,en,2012-07-16,165,"$250,000,000","$1,084,939,099","9,106",7.6,Christopher Nolan,Christian Bale,Michael Caine,Gary Oldman,Eric McLeod,Hoyte van Hoytema,Peter Jackson,Hans Zimmer
4,John Carter,Walt Disney Pictures,Action,United States of America,en,2012-03-07,132,"$260,000,000","$284,139,100","2,124",6.1,Andrew Stanton,Taylor Kitsch,Lynn Collins,Samantha Morton,Chad Oman,Wally Pfister,Fran Walsh,Christopher Young